@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px black dashed;
}

body > header{
    display: flex;
}

header {
    flex: 0 1 100vw;
    min-height: 150px;
    text-align: center;
}

img#rede-social{
    padding: 100px;
}

header > h1 {
    display: flex;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.603);
    font-weight: bolder;
    border-top: 30px;
    margin-right: -100;
    padding-left: 80px;
    padding-top: 100px;
    
}

header > p {
    color: black;
    font-size: 20px;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

header > img {
    width: 50px;
    height: 50px;
    
}

body > nav { 
    background-image: linear-gradient(to right, #D7702D, #CC8A4C);
    padding: 8px 70px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.507);
}

body > nav > a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 5px;
    
}

body > nav > a:hover {
    background-color: rgb(43, 134, 43);
    color: black;
}