@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    max-width: 1866px;
}

.flexivel{
   background-image: url(imagens/cachorrocentro.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
    display: flex;
    width: 100vw;
    height: 175px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px 10px;
}

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header > img{
    display: block;
}

.nomeheader{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1em;
    height: 50px;
    width: 200px;
}

section#redes-sociais{
    text-align: right;
    align-items: flex-end;
    justify-content: space-around;
    display: flex;
    width: 219px;
    display: block;
 }

 section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.685);
    box-sizing: border-box;
 }

 section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.644);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.562);
    transition: transform 0.1s;
 }

 .flexivel2{
    display: flex;
    width: 500px;
    height: 300px;
    justify-content: space-evenly;
 }
 