@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main{
   font-size: 1em;
}

@media (max-width: 768px){
    main{
        font-size: 13px;
        flex-wrap: wrap;
    }
}


*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


.flexivel{
   background-image: url(imagens/cachorrocentro.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
    display: flex;
    width: auto;
    height: 175px;
    justify-content: space-around;
    align-items: center;
    border: solid #D7702D 3px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 3px 3px 10px  black;
    margin-bottom: 20px;
}

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header > img{
    display: block;
}

.nomeheader{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1em;
    height: 50px;
    width: 200px;
}

section#redes-sociais{
    text-align: right;
    align-items: flex-end;
    justify-content: space-around;
    display: flex;
    width: auto;
    display: block;
 }

 section > a{
   margin-right: 0px;
 }

 section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.685);
    box-sizing: border-box;
 }

 section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.644);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.562);
    transition: transform 0.1s;
 }

 .flexivel2{
    display: flex;
    width: 500px;
    height: 300px;
    justify-content: space-evenly;
 }

 main{
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-top: 140px;
    padding-bottom: 140px;
    background-image: url(imagens/cachorro-no-computer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    align-items: center;
    border: 4px solid black;
 }

 main > div{
    background-color: rgba(255, 255, 255, 0.589);
    display: flex;
    width: 700px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #D7702D;
    border-collapse: separate;
    margin: 30px 0px;
 }

 main > div > p{
    line-height: 22px;
    padding: 12px;
 }

 main > div > p > strong{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 2em;
   padding-bottom: 20px;
   text-align: center;
 }
 